@font-face {
  font-family: 'Brandon';
  src: url('../fonts/brandon_reg-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon_reg-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/brandon_reg-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/brandon_reg-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon_reg-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: regular;
}
@font-face {
  font-family: 'Brandon';
  src: url('../fonts/brandon_bld-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon_bld-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/brandon_bld-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/brandon_bld-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon_bld-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: bold;
}