.accommodationsWrapper {
  ul {
    text-align: center;
    padding: 2rem 0;

    li {
      font-size: $h3-font-size;
      padding: 1.5rem 0 0.5rem;

      &:first-of-type {
        padding: 0.5rem 0;
      }
    }

    p, b {
      font-size: $h5-font-size;
      margin: 0;
      color: $gray;
    }

    p {
      &:last-of-type {
        margin-bottom: 0.25rem;
      }

      &.smallText {
        margin: 0.5rem auto 0;
        font-size: 1em;
        max-width: 440px;
        width: 100%;
      }
    }
  }
}