.detailsWrapper {
		background-image: -webkit-linear-gradient(left, $teal, $teal-light);
	  background-image:    -moz-linear-gradient(left, $teal, $teal-light);
	  background-image:      -o-linear-gradient(left, $teal, $teal-light);
	  background-image:         linear-gradient(to right, $teal, $teal-light);
}

.detailsCol {
	float: left;
	padding: 40px 10px;
	transition: all 0.2s ease-in-out;
	width: 100%;
	@include media($medium-screen) {
	  @include grid-item-columns(8);
	}
	h3 {
		color: $off-white;
	}
	p {
		color: $off-white;
	}
	a {
		color: $off-white;
		text-decoration: underline;
		&:hover {
			color: darken($off-white, 5);
		}
		&.website {
			text-transform: uppercase;
		}
	}
}

.detailsCol + .detailsCol {
	@include media($medium-screen) {
	  @include grid-item-columns(4);
	}
}