.introRow {
	display: flex;
	align-items: center;

	@include media($medium-screen) {
	  display: flex;
	}
}

.introImg,
.introText {
	float: left;
	padding: 0 10px;
	transition: all 0.2s ease-in-out;
	width: 100%;

}

.introImg {
	display: flex;
	align-items: center;

	@include media($large-screen) {
		@include grid-item-columns(8);
	}

	.imageWrapper {
		max-width: 32rem;
	}
}

.introText {
	@include media($large-screen) {
		@include grid-item-columns(4);
	}
}

.introText p {
	color: $base-font-color;
	margin: 20px 0;
	padding-right: 20px;
	max-height: 315px;
}

.slide {
	display: none;
	&:first-of-type {
		display: flex;
	}
}

.arrow-button {
	height: 2rem;
	width: 2rem;
	cursor: pointer;
	margin: 1rem;

	&:hover svg {
		@include transition(ease-in-out 0.2s);
		fill: lighten($dusty-black, 15);
	}

	svg {
		fill: $dusty-black;
	}
}
