.introRow {
	display: flex;
	align-items: center;
	flex-direction: column;

	@include media($large-screen) {
	  display: flex;
	  flex-direction: row;
	}
}

.introImg,
.introText {
	float: left;
	transition: all 0.2s ease-in-out;
	width: 100%;
}

.introImg {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 2rem;

	@include media($medium-screen) {
		flex-direction: row;
		padding: 0;
	}

	@include media($large-screen) {
		@include grid-item-columns(8);
		padding: 0 2rem 0 0;
	}

	.imageWrapper {
		@include media($medium-screen) {
			max-width: 32rem;
			max-height: 22rem;
			overflow: hidden;
		}
	}
}

.introText {
	padding: 0 2rem;

	@include media($large-screen) {
		@include grid-item-columns(4);
		padding: 0 2rem 0 0;
	}
}

.introText p {
	color: $base-font-color;
	margin: 20px 0;
	padding-right: 20px;
	max-height: 315px;
}

.slide {
	display: none;
	&:first-of-type {
		display: flex;
	}
}

.arrowButtonWrapperMobile {
	display: flex;

	@include media($medium-screen) {
		display: none;
	}
}

.arrow-button {
	cursor: pointer;
	margin: 1rem;

	&.desktop {
		display: none;

		@include media($medium-screen) {
			display: block;
		}
	}

	&:hover svg {
		@include transition(ease-in-out 0.2s);
		fill: lighten($dusty-black, 15);
	}

	svg {
		fill: $dusty-black;
		height: 1.5rem;
		width: 1.5rem;

		@include media($medium-screen) {
			height: 2rem;
			width: 2rem;
		}
	}
}
