nav {
	position: fixed;
	top: 5px;
	right: 5px;
	list-style-type: none;
	margin: 0px;
	padding: 0px 20px;
	z-index: 40;
	li {
		@extend %inline-block;
		@include transition(ease-in-out 0.2s);
		background: $medium-green;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 5px;
		letter-spacing: -1px;
		padding: 7px 10px 5px;
		a, a:hover, a:focus {
			color: $base-bg-color;
			font-weight: 800;
		}
		&:hover,
		&.current {
			background: darken($medium-green,10);
		}
		&.home {
			height: 34px;
		}
		&.home img {
			width: 18px;
		}

		&.rsvp {
			background: $accent-color;
			&:hover {
				background: darken($accent-color, 10)
			}
		}
	}

	.nav-modal {
		background: transparent;
		padding: 0;
	}
}
.hamburgerMenu {
	display: none;
}
@include media (max-width 769px){
	.hamburgerMenu {
		display: block;
		width: 30px;
		height: 25px;
		float: right;
		margin-bottom: 10px;
    position:relative;
    display:inline-block;
    text-indent:-999px;
    border-top:5px solid $medium-green;
    border-bottom:5px solid $medium-green;
		&:before {
			content:"";
			position:absolute; 
			top:5px;
			left:0;
			width:100%;
			border-top:5px solid $medium-green;
		}
	}
	nav ul {
		display: none;
		clear: both;
		transition: transform 0.3s;
    transform: translate(0px, -225px);
	}
	nav li {
		display: block;
	}
	nav.openmenu ul {
		display: block;
    transform: translate(0px, 0);
	}
}