.registryWrapper {
	background-image: -webkit-linear-gradient(left, $rose 0%, $pink-blush 15%, $pink-blush 85%, $rose 100%);
  background-image:    -moz-linear-gradient(left, $rose 0%, $pink-blush 15%, $pink-blush 85%, $rose 100%);
  background-image:      -o-linear-gradient(left, $rose 0%, $pink-blush 15%, $pink-blush 85%, $rose 100%);
  background-image:         linear-gradient(to right, darken($pink-blush, 5) 0%, $pink-blush 15%, $pink-blush 85%, darken($pink-blush, 5) 100%);
  h2 {
  	color: #fff;
  	text-align: center;
  	font-size: 4em;
  	margin: 1em 0 0;
  	line-height: 0.4em; 
  	span {
  		font-size: 0.3em;
  	}
  }
}

.registryCol {
	float: left;
	padding: 50px;
	transition: all 0.2s ease-in-out;
	width: 100%;
	@include media($medium-screen) {
	  @include grid-item-columns(6);
	}	
}