.squadRow {
	position: relative;
}

.stephH {
	position: absolute;
	color: #B0E4DD;
	font-size: 6em;
	top: 1.75em;
	right: 0.5em;
	@include media($small-screen) {
	  top: 1.2em;
	}
	@include media($medium-screen) {
		top: 0.3em;
	  left: 0.5em;
    right: auto;
	}
}
.sarahH {
	position: absolute;
	color: #FEE2E2;
	font-size: 6em;
	top: 0.3em;
	left: 0.5em;
	@include media($medium-screen) {
	  right: 0.5em;
    left: auto;
	}
}

.steph, .sarah {
	position: relative;
	float: left;
	transition: all 0.2s ease-in-out;
	width: 100%;
	@include media($medium-screen) {
	  @include grid-item-columns(6);
	}
}

.steph .pals {
	@include linear-gradient($primary-color, $base-bg-color);
}

.sarah .pals {
	@include linear-gradient($accent-color, $base-bg-color);
}

.triangle {
	position: absolute;
	width: 200px;
	height: auto;
	top: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
	z-index: 1;
}

.pals {
  display: flex;
  height: 400px;
  align-items: flex-end;
  img {
  	display: flex;
  }
  .sarah & {
  	height: 300px;
  	@include media($medium-screen) {
  		height: 400px;
  	}
  }
}

.name {
	float: left;
	@include grid-item-columns(3);
	text-align: center;
	text-transform: uppercase;
	h2 { padding-top: 10px; }
	.steph & {
		background: $teal-light;
		color: $primary-color;
	}
	.sarah & {
		background: $rose;
		color: $white;
	}
}

