.venueWrapper {
  a {
    padding: 0.5rem;
  }

  .sliderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex-direction: column;

    @include media($medium-screen) {
      flex-direction: row;

    }

    .imageWrapper {
      @include media($medium-screen) {
        max-width: 40rem;
        max-height: 20.5rem;
        overflow: hidden;
      }
      @include media($large-screen) {
        max-width: 60rem;
        max-height: 32rem;

      }
    }
    .slide {
      display: none;

      &:first-of-type {
        display: flex;
      }
    }

    .arrowButtonWrapperMobile {
      display: flex;

      @include media($medium-screen) {
        display: none;
      }
    }

    .arrow-button {
      cursor: pointer;
      margin: 1rem;

      &.desktop {
        display: none;

        @include media($medium-screen) {
          display: block;
        }
      }

      &:hover svg {
        @include transition(ease-in-out 0.2s);
        fill: lighten($dusty-black, 15);
      }

      svg {
        fill: $dusty-black;
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .venueText {
    max-width: 45rem;
    margin: 1rem auto 0;

    @include media($large-screen) {
      max-width: 64rem;
    }
  }
}